<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar hero is-success green-background">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{url_for('main.index')}}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{url_for('main.emissao_nota')}}" class="navbar-item">
                                Emissão de Notas Fiscais
                            </a>
                            <a href="{{url_for('main.profile')}}" class="navbar-item">
                                Perfil
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{url_for('auth.login')}}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{url_for('auth.signup1')}}" class="navbar-item">
                                Cadastro
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{url_for('auth.logout')}}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container">
                {%block content%}
                {% endblock %}
            </div>
        </div>
    </section>

    <div class="modal" id="modal-emissao-notas">
        <div class="modal-background"></div>
        <div class="modal-content is-centered">
            <div class="box content has-text-centered" id="modal-emissao-content1">
                <h4>Nenhum arquivo selecionado</h4>
            </div>
            <div class="box content" id ='modal-emissao-content2'>
                <h2 class="is-2">Realizar emissão?</h2>
                <p id="modal-emissao-notas-pergunta"></p>
                <form action="{{url_for('main.emissao_nota_post')}}" method="POST">
                    <nav class="level is-mobile ">
                        <div class="level-left"></div>
                        <div class="level-right">
                          <div class="level-item">
                            <input class="button is-primary" type="submit" value="Sim" id="botao-confirmar-emissao">
                          </div>
                          <div class="level-item">
                            <a type="button" class="button is-danger cancel">Não</a>
                          </div>
                        </div>
                    </nav>
                </form>
                <div class="loader-wrapper" id="loader-emissao">
                    <div class="loader is-loading"></div>
                    <h4> Realizando emissão, não mexa no computador ...</h4>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</body>
</html>