{% extends "base.html" %}
<!-- Página de troca de senha -->
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-centered">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {%if messages %}
            <div class="notification is-danger">
                {{messages[0]}}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{url_for('main.change_password_post')}}">
            <div class="field">
                <div class="label">Senha atual</div>
                <div class="control">
                    <input class="input is-large" type="password" name="senha_atual">
                </div>
            </div>

            <div class="field">
                <div class="label">Nova senha</div>
                <div class="control">
                    <input class="input is-large" type="password" name="nova_senha_1">
                </div>
            </div>
            
            <div class="field">
                <div class="label">Confirmar nova senha</div>
                <div class="control">
                    <input class="input is-large" type="password" name="nova_senha_2">
                </div>
            </div>

            <div class="buttons is-centered">
                <button class="button is-block is-success">
                    <span class="icon">
                        <i class="fa fa-save"></i>
                    </span>
                    <span>Salvar alterações</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}