{% extends "base.html" %}

{% block content%}
    <div class="has-text-centered">
        {% with messages = get_flashed_messages() %}
        {%if messages %}
            <div class="notification is-danger">
                {{messages[0]}}
            </div>
        {% endif %}
        {% endwith %}
        <h3 class="title">Emissão de Notas Fiscais</h3>
        <h2 class="subtitle">
            Para iniciar a emissão é só carregar um arquivo .csv e clicar em "Realizar emissão"
        </h2>
        <br/>
        <br/>
        <form action = "{{url_for('main.emissao_nota_post')}}" method="POST" enctype="multipart/form-data">
            <div class="file has-name is-boxed is-centered">
                <label class="file-label">
                    <input class="file-input" type="file" name="arquivo">
                    <span class="file-cta">
                    <span class="file-icon">
                        <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Escolha um arquivo
                    </span>
                    </span>
                    <span class="file-name">
                    </span>
                </label>
            </div>
            <br>
            <button class="button is-success is-large is-centered js-modal-trigger" id="botao-modal-emissao" data-target="modal-emissao-notas">Realizar emissão</button>
        </form>
    <br/>
</div>
{% endblock %}
