{% extends "base.html" %}
<!-- Página de perfil do usuário -->
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-centered">Perfil</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}. 
            <div class="notification is-success">
                {{messages[0]}}</a>.
            </div>
        {% endif%}
        {% endwith %}

        <div class="field">
            <label class="label"> Usuário</label>
            <div class="control">
                <input class="input is-large" type="text" name="usuario" autofocus="" value="{{user.usuario}}" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label"> CPF</label>
            <div class="control">
                <input class="input is-large" type="text" name="cpf" autofocus="" value="{{user.cpf}}" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label"> CNPJ</label>
            <div class="control">
                <input class="input is-large" type="text" name="cnpj" autofocus="" value="{{user.cnpj}}" disabled>
            </div>
        </div>

        <div class="buttons is-centered">
            <form action="{{url_for('main.change_password')}}">
                <button class="button is-block is-success">
                    <span class="icon">
                        <i class="fa fa-key"></i>
                    </span>
                    <span>Trocar senha</span>
                </button>
            </form>
            <form action="{{url_for('main.profile_edit')}}">
                <button class="button is-block is-success">
                    <span class="icon">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Editar dados do perfil</span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
