.is-success:not(.file) {
    background: rgba(52,164,21,.6) !important; 
}

.title {
    color: #85C873 !important;
}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.loader-wrapper .loader {
    height: 80px;
    width: 80px;
}

.emissao-realizada {
    color:#85C873;
    font-size: 2rem
}

