/* Estilização de elementos com a classe de cores 'is-success' (botoões, divs, navs, etc) */
.is-success:not(.file) {
    background: rgba(52,164,21,.6) !important; 
}


/* Estilização dos títulos das páginas */
.title {
    color: #85C873 !important;
}


/* Estilização do spinner que indica carregamento */
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 1;
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.loader-wrapper .loader {
    height: 80px;
    width: 80px;
}

.emissao-realizada {
    color:#85C873;
    font-size: 2rem
}
